body {
    margin: 0;
    font-family: Nunito;
}
.container {
    height: 100vh;
}
#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    color: #1D043A;
}
#navBar h2 {
    margin: 15px 0;
    font-size: 20px;
    font-family: Nunito;
}
#name {
    display: flex;
    gap: 20px;
    align-self: center;
}
#name a {
    text-decoration: none;
    font-size: 20px;
}
